{
  "parserOptions": {
    "ecmaVersion": "2018",
    "sourceType": "module"
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "no-unused-vars": "off"
  },
  "env": {
    "browser": true
  }
}
